body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:1000px;
  height:590px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:590px;
}
#u1 {
  position:absolute;
  left:2px;
  top:287px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:0px;
  width:1000px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:10px;
  width:220px;
  height:30px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:980px;
  top:10px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:643px;
  top:15px;
  width:190px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:120px;
  top:75px;
  width:300px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:120px;
  top:94px;
  width:310px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u12 {
  position:absolute;
  left:120px;
  top:170px;
  width:140px;
  height:25px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:260px;
  top:170px;
  width:100px;
  height:25px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:360px;
  top:170px;
  width:120px;
  height:25px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:480px;
  top:170px;
  width:140px;
  height:25px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:620px;
  top:170px;
  width:160px;
  height:25px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:156px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:120px;
  top:195px;
  width:140px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:260px;
  top:195px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:360px;
  top:195px;
  width:120px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:480px;
  top:195px;
  width:140px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:810px;
  top:170px;
  width:50px;
  height:25px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u27 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:860px;
  top:170px;
  width:50px;
  height:25px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:910px;
  top:127px;
  width:180px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:620px;
  top:195px;
  width:160px;
  height:100px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:880px;
  top:205px;
  width:20px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:830px;
  top:205px;
  width:20px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
