body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:0px;
  width:1000px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:10px;
  width:220px;
  height:30px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:50px;
  width:1000px;
  height:590px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:590px;
}
#u5 {
  position:absolute;
  left:2px;
  top:287px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:120px;
  top:75px;
  width:190px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:360px;
  top:75px;
  width:170px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:580px;
  top:75px;
  width:170px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:810px;
  top:75px;
  width:170px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:150px;
  top:280px;
  width:230px;
  height:230px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u11 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:460px;
  top:280px;
  width:230px;
  height:230px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u13 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:770px;
  top:280px;
  width:230px;
  height:230px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u15 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:150px;
  top:510px;
  width:230px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:460px;
  top:510px;
  width:230px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:770px;
  top:510px;
  width:230px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:380px;
  top:160px;
  width:390px;
  height:80px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:386px;
  word-wrap:break-word;
}
